<% include ../partials/header %>
<section id="new">
  <div class="container">
    <h1><%= currentUser.username %></h1>
    <form action="/shop/<%= product._id %>/comment/<%= comment._id  %>/edit?_method=PUT" method="POST">
      <div class="form-group">
        <input class="form-control" min="1" max="140"value="<%= comment.text %>"type="text" name="comment[text]"  placeholder="What's on your mind?"required>
        <input class="form-control" min="0" max="5" value="<%= comment.rating  %>"step="0.10"type="number" name="comment[rating]"  placeholder="Rating"required>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>
<% include ../partials/footer %>