<% include ../partials/header %>
<section id="show">
   <div class="container">
      <div class="row">
         <div class="col-lg-3 col-sm-12">
            <div class="image">
               <img src="<%= product.image %>">
            </div>
         </div>
         <div class="col-lg-5 col-sm-12">
            <div id="product-box">
                <div class="title">
                    <p><%= product.title %></p>
                </div>
                <div class="price">
                  <p>£<%= product.price %></p>
                </div>
                <div class="stock">
                  <p>In stock: <%= product.quantity %></p>
                </div>
                <div class="cart">
                  <form action="/bag/:user" method="POST">
                     <button class="btn btn-success">ADD TO BAG</button>
                  </form>
                </div>
                <div class="buttons">
                  <a class="btn btn-warning btn-sm" href="/shop/<%= product._id %>/edit">Edit</a>
                  <button id="myBtn" class="btn btn-danger btn-sm">Delete</button>
                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                      <!-- Modal content -->
                      <div class="modal-content">
                        <span class="close">&times;</span>
                        <p>Are you sure your want to delete this product?</p>
                        <form action="/shop/<%= product._id %>?_method=DELETE" method="POST">
                           <button type="submit" class="btn btn-danger">Yes</button>
                        </form>
                      </div>
                    </div>
                </div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-12">
            <% product.comments.forEach(function(comment){%>
                <div class="user">
                    <p>Sold by <%= comment.author %></p>
                </div>
            <% }) %>
         </div>
         <div class="col-lg-8 col-sm-12">
                 <div class="reviews">
                    <div id="top-box">
                        <button class="btn btn-primary">Leave Review</button>
                    </div>
                    <hr>
                <% product.comments.forEach(function(comment){%>
                    <div id="comments">
                        <p><%= comment.username %></p>
                        <p><%= comment.text %></p>
                    </div> 
                 </div>
             <% }) %>
             
         </div>
      </div>
   </div>
</section>

<% include ../partials/footer %>